//Animations for loading screen
@-webkit-keyframes slide-top {
  0% {
    top: 100%;
  }

  60% {
    top: 0%;
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
@keyframes slide-top {
  0% {
    top: 100%;
  }

  60% {
    top: 0%;
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
@-webkit-keyframes slide-top-logo {
  0% {
    top: 100%;
  }

  60% {
    top: 50%;
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
@keyframes slide-top-logo {
  0% {
    top: 100%;
  }

  60% {
    top: 50%;
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

// Animations for women section
@keyframes slide-woman-image {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
@-webkit-keyframes slide-woman-image {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
@keyframes slide-woman-text {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
@-webkit-keyframes slide-woman-text {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
@keyframes slide-woman-white {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
@-webkit-keyframes slide-woman-white {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

// Animations for items
@keyframes slide-items {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
@-webkit-keyframes slide-items {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

// Animations for man section
@keyframes slide-man-image {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
@-webkit-keyframes slide-man-image {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
@keyframes slide-man-text {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
@-webkit-keyframes slide-man-text {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
@keyframes slide-man-white {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
@-webkit-keyframes slide-woman-white {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
