/* MEDIA QUERY MANAGER
$breakpoint arguement choices:
- phone
- tablet
- tab-land
- big-desktop
*/
/* Style the buttons that are used to open and close the accordion panel */
.accordion {
  background: #fff;
  color: #8e9091;
  cursor: pointer;
  padding: 0.8rem 1rem;
  width: 100%;
  text-align: left;
  border: none;
  border-bottom: 1px solid #8e9091;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  line-height: 1rem;
  margin: 0.3rem auto;
  -webkit-transition: 0.5s all ease-in-out;
  transition: 0.5s all ease-in-out;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active-accordion,
.accordion:hover {
  background-color: #e6e4e4;
}

.accordion:after {
  content: "+";
  color: #8e9091;
  float: right;
  font-size: 1.2rem;
  margin-left: 5px;
}

.active-accordion:after {
  content: "-";
}

/* Style the accordion panel. */
.panel {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  -webkit-transition: max-height 0.2s ease-out;
  transition: max-height 0.2s ease-out;
}

.panel ul {
  color: #8e9091;
  font-size: 0.8rem;
  margin-top: -1rem;
}

@-webkit-keyframes slide-top {
  0% {
    top: 100%;
  }
  60% {
    top: 0%;
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes slide-top {
  0% {
    top: 100%;
  }
  60% {
    top: 0%;
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes slide-top-logo {
  0% {
    top: 100%;
  }
  60% {
    top: 50%;
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes slide-top-logo {
  0% {
    top: 100%;
  }
  60% {
    top: 50%;
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes slide-woman-image {
  0% {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes slide-woman-image {
  0% {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slide-woman-text {
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes slide-woman-text {
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slide-woman-white {
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes slide-woman-white {
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slide-items {
  0% {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes slide-items {
  0% {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slide-man-image {
  0% {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes slide-man-image {
  0% {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slide-man-text {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes slide-man-text {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes slide-man-white {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slide-man-white {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes slide-woman-white {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

:root {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  color: #171717;
  margin: 0;
  overflow: hidden;
}

a {
  text-decoration: none;
  color: #8e9091;
  text-transform: uppercase;
  font-weight: 400;
}

h3 {
  color: #8e9091;
  font-weight: 300;
}

button:focus {
  outline: 0;
}

.loading div {
  width: 100%;
  height: 100vh;
  opacity: 0;
  position: absolute;
  left: 0;
  background: #ecc79d;
  -webkit-animation: slide-top 3s 1s;
  animation: slide-top 3s 1s;
}

.loading svg {
  width: 40%;
  height: 40%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  opacity: 0;
  -webkit-animation: slide-top-logo 4s;
  animation: slide-top-logo 4s;
}

.content {
  display: none;
}

.padding {
  padding: 3rem;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: #d3d3d3 1px solid;
  padding: 1rem;
}

@media only screen and (max-width: 451px) {
  .nav {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.nav-right {
  width: 35%;
  height: 100%;
}

@media only screen and (min-width: 1025px) and (max-width: 1439px) {
  .nav-right {
    width: 40%;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .nav-right {
    width: 60%;
  }
}

@media only screen and (max-width: 451px) {
  .nav-right {
    display: none;
  }
}

.nav-right ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin: 0.4rem 0 0;
  list-style: none;
  color: #8e9091;
  font-weight: 300;
}

.display .top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 70%;
  margin: 1rem auto;
  border: solid 4rem #deafac;
  background: #deafac;
}

@media only screen and (max-width: 451px) {
  .display .top {
    width: 95%;
    height: 80vh;
    border: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.display .top img {
  height: 100%;
  width: 40%;
  z-index: 1;
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .display .top img {
    margin-top: 2rem;
  }
}

@media only screen and (max-width: 451px) {
  .display .top img {
    height: 50%;
    width: auto;
    display: block;
    margin: 2rem auto 0;
  }
}

.display .top .text {
  background: #f1efea;
  z-index: 0;
  height: 55vh;
  margin: auto 0 auto -3rem;
  padding-left: 8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media only screen and (min-width: 1025px) and (max-width: 1439px) {
  .display .top .text {
    padding-left: 5rem;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .display .top .text {
    padding-left: 4rem;
  }
}

@media only screen and (max-width: 451px) {
  .display .top .text {
    height: 35%;
    padding-left: 0;
    margin: auto;
    width: 90%;
  }
}

.display .top .text h1 {
  font-family: "Vollkorn", serif;
  color: #611503;
  height: 10%;
}

@media only screen and (max-width: 451px) {
  .display .top .text h1 {
    font-size: 1.5rem;
    text-align: center;
  }
}

.display .top .text h3 {
  color: #611503;
  border-top: 1px solid #d19d9a;
  padding-top: 2rem;
  margin-top: 1rem;
  width: 80%;
  height: 30%;
}

@media only screen and (min-width: 1025px) and (max-width: 1439px) {
  .display .top .text h3 {
    width: 95%;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .display .top .text h3 {
    width: 95%;
  }
}

@media only screen and (max-width: 451px) {
  .display .top .text h3 {
    margin: auto;
    text-align: center;
    font-size: 0.8rem;
    margin-top: 0;
  }
}

.display-woman .top img {
  opacity: 0;
  -webkit-animation: slide-woman-image 2s 1s;
  animation: slide-woman-image 2s 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.display-woman .top h1,
.display-woman .top h3 {
  opacity: 0;
  -webkit-animation: slide-woman-text 2s 1s;
  animation: slide-woman-text 2s 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.display-woman .top .text {
  opacity: 0;
  -webkit-animation: slide-woman-white 2s 1.3s;
  animation: slide-woman-white 2s 1.3s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.display-man .top {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  border: solid 4rem #9b9181;
  background: #9b9181;
}

@media only screen and (max-width: 451px) {
  .display-man .top {
    width: 95%;
    height: 80vh;
    border: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.display-man .top img {
  opacity: 0;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.display-man .top h1,
.display-man .top h3 {
  opacity: 0;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.display-man .top .text {
  background: rgba(243, 240, 233, 0.657);
  margin: auto -3rem auto 0;
  padding-right: 8rem;
  text-align: right;
  opacity: 0;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@media only screen and (min-width: 1025px) and (max-width: 1439px) {
  .display-man .top .text {
    padding-right: 5rem;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .display-man .top .text {
    padding-right: 4rem;
  }
}

@media only screen and (max-width: 451px) {
  .display-man .top .text {
    height: 35%;
    padding-right: 0;
    margin: auto;
    width: 90%;
  }
}

.display-man .top .text h1 {
  color: #000;
}

@media only screen and (max-width: 451px) {
  .display-man .top .text h1 {
    font-size: 1.5rem;
    text-align: center;
  }
}

.display-man .top .text h3 {
  color: #000;
  padding: 2rem 0 0 10%;
  margin: 1rem 0;
  width: 90%;
  border-color: #9b9181;
}

@media only screen and (min-width: 1025px) and (max-width: 1439px) {
  .display-man .top .text h3 {
    width: 100%;
    padding: 2rem 0 0 0;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .display-man .top .text h3 {
    width: 100%;
    padding: 1rem 0 0 0;
  }
}

@media only screen and (max-width: 451px) {
  .display-man .top .text h3 {
    margin: auto;
    text-align: center;
    font-size: 0.8rem;
    margin-top: 0;
    padding: 2rem 0 0 0;
  }
}

.display .items-woman {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 80%;
  margin: 1rem auto;
  text-align: center;
  opacity: 0;
  -webkit-animation: none;
  animation: none;
}

@media only screen and (min-width: 1025px) and (max-width: 1439px) {
  .display .items-woman {
    width: 85%;
  }
}

@media only screen and (max-width: 451px) {
  .display .items-woman {
    width: 95%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .display .items-woman .items-1,
  .display .items-woman .items-2,
  .display .items-woman .items-3 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin: 1rem auto;
  }
  .display .items-woman .items-1 a,
  .display .items-woman .items-2 a,
  .display .items-woman .items-3 a {
    width: 50%;
  }
  .display .items-woman .items-1 div:first-of-type,
  .display .items-woman .items-2 div:first-of-type,
  .display .items-woman .items-3 div:first-of-type {
    width: 50%;
  }
  .display .items-woman .items-1 h1,
  .display .items-woman .items-2 h1,
  .display .items-woman .items-3 h1 {
    margin-top: 1rem;
    font-size: 0.8rem;
  }
  .display .items-woman .items-1 .buttons,
  .display .items-woman .items-2 .buttons,
  .display .items-woman .items-3 .buttons {
    display: inline;
  }
  .display .items-woman .items-1 .buttons a,
  .display .items-woman .items-2 .buttons a,
  .display .items-woman .items-3 .buttons a {
    width: 100%;
  }
}

.display .items-woman img {
  width: 60%;
}

@media only screen and (max-width: 451px) {
  .display .items-woman img {
    width: 100%;
  }
}

.display .items-woman h1 {
  font-size: 1.3rem;
  text-transform: uppercase;
}

@media only screen and (min-width: 1025px) and (max-width: 1439px) {
  .display .items-woman h1 {
    font-size: 1.1rem;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .display .items-woman h1 {
    font-size: 1.1rem;
  }
}

.display .items-man {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 80%;
  margin: 1rem auto;
  text-align: center;
  opacity: 0;
  -webkit-animation: none;
  animation: none;
}

@media only screen and (min-width: 1025px) and (max-width: 1439px) {
  .display .items-man {
    width: 85%;
  }
}

@media only screen and (max-width: 451px) {
  .display .items-man {
    width: 95%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .display .items-man .items-1,
  .display .items-man .items-2,
  .display .items-man .items-3 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin: 1rem auto;
  }
  .display .items-man .items-1 a,
  .display .items-man .items-2 a,
  .display .items-man .items-3 a {
    width: 50%;
  }
  .display .items-man .items-1 div:first-of-type,
  .display .items-man .items-2 div:first-of-type,
  .display .items-man .items-3 div:first-of-type {
    width: 50%;
  }
  .display .items-man .items-1 h1,
  .display .items-man .items-2 h1,
  .display .items-man .items-3 h1 {
    margin-top: 1rem;
    font-size: 0.8rem;
  }
  .display .items-man .items-1 .buttons,
  .display .items-man .items-2 .buttons,
  .display .items-man .items-3 .buttons {
    display: inline;
  }
  .display .items-man .items-1 .buttons a,
  .display .items-man .items-2 .buttons a,
  .display .items-man .items-3 .buttons a {
    width: 100%;
  }
}

.display .items-man img {
  width: 60%;
}

@media only screen and (max-width: 451px) {
  .display .items-man img {
    width: 100%;
  }
}

.display .items-man h1 {
  font-size: 1.3rem;
  text-transform: uppercase;
}

@media only screen and (min-width: 1025px) and (max-width: 1439px) {
  .display .items-man h1 {
    font-size: 1.1rem;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .display .items-man h1 {
    font-size: 1.1rem;
  }
}

.items-heading {
  font-family: "Vollkorn", serif;
  text-align: center;
  width: 30%;
  margin: 0 auto 5rem;
  padding-bottom: 1rem;
  border-bottom: #611503 1px solid;
}

@media only screen and (max-width: 451px) {
  .items-heading {
    display: none;
  }
}

.buttons {
  margin: 0 auto 1.5rem;
}

@media only screen and (max-width: 451px) {
  .buttons {
    width: 100%;
    margin: 0 auto;
  }
}

.buttons a {
  color: #fff;
  display: block;
  padding: 0.7rem 0;
  width: 65%;
  margin: 0.5rem auto;
  background: #611503;
  border: none;
  text-align: center;
  font-size: 0.9rem;
  -webkit-transition: border 0.5s ease-in-out;
  transition: border 0.5s ease-in-out;
}

@media only screen and (min-width: 1025px) and (max-width: 1439px) {
  .buttons a {
    padding: 0.8rem 0;
    font-size: 0.7rem;
  }
}

.buttons a:hover {
  background: #410c00;
}

.buttons #white {
  background: #fff;
  border: 1px solid #171717;
  color: #171717;
}

.buttons #white:hover {
  background: #e6e4e4;
}
/*# sourceMappingURL=style.css.map */