@import "../../../css/colors";
@import "../../../css/accordion";
@import "../../../css/mixins";
@import "../../../node_modules/@glidejs/glide/src/assets/sass/glide.core.scss";

:root {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  color: $dark;
  margin: 0;

  @include respond(tablet) {
    width: 100%;
  }
}

a {
  text-decoration: none;
  color: $light;
  text-transform: uppercase;
  font-weight: 400;
}

h3 {
  color: $light;
  font-weight: 300;
}

button:focus {
  outline: 0;
}

.nav {
  display: flex;
  justify-content: space-between;
  border-bottom: #d3d3d3 1px solid;
  padding: 1rem;

  @include respond(tablet) {
    justify-content: space-around;
    padding: 1rem 0;
  }

  @include respond(phone) {
    justify-content: center;
  }

  &-right {
    width: 35%;
    height: 100%;

    @include respond(laptop) {
      width: 40%;
    }

    @include respond(tablet) {
      width: 60%;
    }

    @include respond(phone) {
      display: none;
    }

    ul {
      display: flex;
      justify-content: space-evenly;
      margin: 0.4rem 0 0;
      list-style: none;
      color: $light;
      font-weight: 300;
    }
  }
}

.breadcrumbs {
  padding: 1.5rem 2rem 0;
  font-size: 0.85rem;

  a {
    color: $dark;
  }

  span {
    padding: 0 0.6rem;
  }
}

.product {
  display: flex;
  justify-content: flex-start;
  width: 100%;

  @include respond(tablet) {
    flex-direction: column;
  }

  @include respond(phone) {
    flex-direction: column;
    margin-top: 2rem;
  }

  svg {
    position: absolute;
    left: 25%;
    top: 25%;
    z-index: -2;
    max-width: 100vw;
    height: 50%;
    overflow: hidden;

    @include respond(laptop) {
      left: 20%;
    }

    @include respond(tablet) {
      @include absCenter;
      top: 35%;
      width: 40%;
    }

    @include respond(phone) {
      @include absCenter;
      top: 35%;
      width: 50%;
    }
  }

  #myMenu {
    margin: 1rem auto;
    width: 15%;
    list-style: none;
    padding: 0 0 0 1rem;

    @include respond(laptop) {
      margin: 2rem auto;
    }

    @include respond(tablet) {
      width: 70%;
      display: flex;
      order: 2;
    }

    @include respond(phone) {
      width: 70%;
      display: flex;
      order: 2;
    }

    img {
      width: 100%;
    }

    li {
      margin: 1rem auto;

      &:hover {
        background: #f7f7f7;
      }
    }
  }

  .slider {
    width: 60%;
    margin: -5rem 4rem;
    z-index: -1;

    @include respond(tablet) {
      width: 100%;
      margin: 0;
      z-index: 1;
    }

    @include respond(phone) {
      width: 100%;
      margin: 0;
      z-index: 1;
    }

    img {
      width: 80%;
      display: block;
      margin: 0 auto;

      @include respond(tablet) {
        width: 70%;
      }

      @include respond(phone) {
        width: 70%;
      }
    }
  }

  .right-side {
    width: 25%;
    margin-top: 5rem;
    padding: 1rem;

    @include respond(laptop-l) {
      margin-top: 1rem;
    }

    @include respond(laptop) {
      margin-top: 0;
    }

    @include respond(tablet) {
      order: 3;
      margin: 0 auto;
      width: 80%;
    }

    @include respond(phone) {
      order: 3;
      margin: 0 auto;
      width: 80%;
    }

    .header {
      text-transform: uppercase;
      font-size: 0.8rem;

      h1 {
        font-weight: 300;
        font-size: 2rem;
        margin-bottom: 0;
      }
    }

    .size {
      background: #fff;
      border: 1px solid $dark;

      &-panel {
        margin: 1rem auto;
        line-height: 2rem;

        @include respond(laptop-l) {
          margin: auto;
        }

        @include respond(laptop) {
          margin: auto;
        }

        a {
          border: 1px solid $light;
          padding: 0.3rem;
          margin: 0 0.2rem;
          width: 100%;

          @include respond(laptop) {
            font-size: 0.8rem;
          }

          &:nth-of-type(2) {
            padding: 0.3rem 0.4rem;
          }
        }
      }
    }

    .buttons {
      margin: 0 auto 1.5rem;

      a {
        color: #fff;
        display: block;
        padding: 1rem 0;
        width: 100%;
        margin: 0.5rem auto;
        background: $red;
        border: none;
        text-align: center;
        font-size: 0.9rem;
        transition: border 0.5s ease-in-out;

        @include respond(laptop) {
          padding: 0.8rem 0;
          font-size: 0.7rem;
        }

        &:hover {
          background: #410c00;
        }
      }

      #white {
        background: #fff;
        border: 1px solid $dark;
        color: $dark;

        &:hover {
          background: rgb(230, 228, 228);
        }
      }
    }

    h4 {
      font-weight: 300;
      color: $light;
    }
  }
}
